.teamItem {
	display: grid;
	justify-items: center;
	gap: 10px;

	cursor: pointer;
}

.teamPhoto {
	display: grid;
	overflow: hidden;
	align-items: center;

	width: 200px;
	height: 200px;
	margin-bottom: 10px;

	transition-duration: 500ms;

	border-radius: 0;

	background: var(--primary);
	justify-items: center;
	object-fit: cover;
}

.teamItem:active > .teamPhoto {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	border-radius: 200px;
}

.teamName {
	font-weight: 500;
}

@media (min-width: 1024px) {
	.teamItem:hover > .teamPhoto {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		border-radius: 200px;
	}
}

@media (max-width: 1024px) {
	.teamPhoto {
		width: 120px;
		height: 120px;
	}
}

@media (max-width: 700px) {
	.teamPhoto {
		width: 150px;
		height: 150px;
	}
}

@media (max-width: 580px) {
	.teamPhoto {
		width: 100px;
		height: 100px;
	}
}
