.brandItem {
	display: grid;
	overflow: hidden;

	cursor: pointer;

	border-radius: 9999px;
	justify-items: center;
	gap: 10px;
}

.brandPhoto {
	display: grid;
	overflow: hidden;
	align-items: center;

	width: 400px;
	height: 400px;

	justify-items: center;

	transition-duration: 500ms;
	filter: grayscale(100%);
}

.brandItem:active > .brandPhoto {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	filter: grayscale(0);
}

@media (min-width: 1024px) {
	.brandItem:hover > .brandPhoto {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		filter: grayscale(0);
	}
}

@media (max-width: 1300px) {
	.brandPhoto {
		width: 350px;
		height: 350px;
	}
}

@media (max-width: 1024px) {
	.brandPhoto {
		width: 250px;
		height: 250px;
	}
}

@media (max-width: 700px) {
	.brandPhoto {
		width: 60%;
		height: fit-content;
	}
}
