.brandItem {
	display: grid;
	justify-items: center;
	gap: 10px;

	cursor: pointer;
}

.brandPhoto {
	display: grid;
	overflow: hidden;
	align-items: center;

	width: 200px;
	height: 200px;
	margin-bottom: 10px;

	transition-duration: 500ms;

	border-radius: 0;
	background: var(--primary);
	justify-items: center;
}

.brandItem:active > .brandPhoto {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	border-radius: 200px;
}

.brandName {
	font-weight: 500;
}

@media (min-width: 1024px) {
	.brandItem:hover > .brandPhoto {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		border-radius: 200px;
	}
}

@media (max-width: 1024px) {
	.brandPhoto {
		width: 120px;
		height: 120px;
	}
}

@media (max-width: 700px) {
	.brandPhoto {
		width: 150px;
		height: 150px;
	}
}

@media (max-width: 580px) {
	.brandPhoto {
		width: 100px;
		height: 100px;
	}
}
