.burgerMenu {
	position: relative;

	display: none;
	justify-items: center;

	align-items: center;

	width: 30px;
	height: 30px;

	cursor: pointer;
}

.burgerMenu span {
	width: 30px;
	height: 2px;

	border-radius: 10px;
	background: var(--primary);
}

.burgerMenu:active span {
	transition-duration: 500ms;

	background: var(--darkLight);
}

.burgerMenu span:nth-child(2),
.burgerMenu span:nth-child(3) {
	position: absolute;
}

@media (min-width: 1024px) {
	.burgerMenu:hover span {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		background: var(--darkLight);
	}
}

@media (max-width: 1024px) {
	.burgerMenu {
		display: grid;
	}
}
