.footerItem {
	display: grid;

	cursor: pointer;
	transition-duration: 500ms;

	color: var(--primary) !important;

	font-weight: 500;
}

.footerItem:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	color: var(--darkLight) !important;
}

@media (min-width: 1024px) {
	.footerItem:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		color: var(--darkLight) !important;
	}
}

@media (max-width: 1024px) {
	.footerItem {
		margin: 10px 0 10px 0 !important;
	}
}
