.footer {
	display: grid;

	width: 100%;
	justify-items: center;
	padding: 40px 0;

	background: var(--primary);
	gap: 20px;
}

.footerLinks {
	display: grid;
	grid-template-columns: repeat(4, auto);
	gap: 20px;

	margin-bottom: 20px;
}

.footerText {
	color: var(--white) !important;
}
