.header {
	position: fixed;
	z-index: 9999;

	display: grid;
	align-items: center;

	width: 100%;
	padding: 10px 0 10px 0;

	background: rgba(31, 31, 31, 0.95);
	grid-template-columns: auto auto auto;
	justify-items: center;
	backdrop-filter: blur(4px);
	grid-template-areas: ". headerBlock .";
}

.logo {
	cursor: pointer;
	justify-self: right;
}

.logo svg {
	width: 50px !important;
	height: 50px !important;

	fill: var(--white);

	transition-duration: 300ms;
}

.logo svg:active {
	filter: brightness(0.9);

	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.headerBlock {
	display: grid;
	gap: 40px;

	align-items: center;
	justify-items: center;
	grid-area: headerBlock;
}

@media (min-width: 1024px) {
	.logo svg:hover {
		filter: brightness(0.9);

		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}
}

@media (max-width: 1024px) {
	.header {
		grid-template-columns: auto auto;
		grid-template-areas:
			". ."
			"headerBlock headerBlock";
	}

	.headerBlock {
		grid-template-columns: auto;
		grid-template-rows: auto auto auto;
		gap: 0 !important;

		padding: 0 0 0 20px !important;
		justify-self: left;
		justify-items: left;
	}

	.logo {
		width: 18px;
		height: 18px;

		justify-self: left;

		margin-left: 20px;
	}
}
