.teamBlock {
	display: grid;

	justify-items: center;
	gap: 40px;

	margin-top: 20px;
}

.teamDiv {
	display: grid;
	grid-template-columns: repeat(4, auto);
	gap: 40px;
}

.teamSubtitle {
	margin-top: 20px;

	font-weight: 600 !important;
}

@media (max-width: 1024px) {
	.teamBlock,
	.teamDiv {
		gap: 30px;
	}
}

@media (max-width: 700px) {
	.teamDiv {
		grid-template-columns: repeat(2, auto);
	}
}

@media (max-width: 300px) {
	.teamBlock {
		gap: 20px;
	}

	.teamDiv {
		grid-template-columns: auto;
	}
}
